
/* ::::: http://arxiv.org/css/arXiv.css ::::: */

body { margin: 0pt; padding: 0pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: 'Lucida Grande',helvetica,arial,verdana,sans-serif; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
abbr, acronym { border-bottom: 0pt none; }
fieldset { margin: 1em; }
fieldset legend { font-weight: bold; }
hr, .hidden { display: none; }
hr.show { display: block; }
img { border: 0pt none; }
em { color: rgb(204, 0, 0); font-weight: bold; font-style: normal; }
em.boxed { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border: 3px solid rgb(0, 204, 0); padding: 5px; font-weight: bold; font-size: 150%; font-style: normal; }
.primary-subject { font-weight: bold; }
#cu-identity { font-family: verdana,arial,helvetica,sans-serif; font-size: 63.125%; color: rgb(34, 34, 34); height: 75px; background: none repeat scroll 0% 0% rgb(104, 100, 91); }
#cu-logo { position: absolute; top: 0pt; left: 20px; width: 303px; height: 75px; background: url('cul_signature.gif@22') no-repeat scroll -8px -1px transparent; }
#cu-logo a { position: absolute; display: block; border: medium none; text-indent: -1000em; text-decoration: none; }
#insignia-link { width: 68px; height: 75px; }
#unit-signature-links a { left: 68px; width: 185px; }
#cornell-link { height: 38px; }
#unit-link { top: 38px; height: 37px; }
#cu-logo img { display: none; }
#support-ack { position: absolute; top: 12px; right: 0%; margin: 0pt 12px 0pt 0pt; padding: 0pt; text-align: right; font-size: 120%; font-weight: bold; font-family: 'Lucida Grande',helvetica,arial,verdana,sans-serif; color: rgb(255, 255, 255); }
#support-ack a { color: rgb(255, 255, 255); text-decoration: none; border: medium none; }
#support-ack a:hover { background: none repeat scroll 0% 0% rgb(68, 68, 68); }
#local-icon { position: absolute; top: 12px; right: 0%; margin-right: 12px; color: rgb(255, 255, 255); }
#header { background-color: rgb(179, 27, 27); color: rgb(255, 255, 255); margin: 0pt; padding: 0.75em 0pt; border-bottom: 2px solid rgb(204, 204, 204); }
#header h1 { margin: 0pt; font-size: 1em; padding: 0pt 0pt 0.2em 20px; font-weight: bold; font-style: normal; }
body#front #header h1 { font-size: 2.5em; font-weight: normal; }
#header a, #header a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#header a:hover { text-decoration: underline; }
#header form { position: absolute; top: 4px; right: 0%; margin: 0pt 12px 0pt 0pt; padding: 0pt; text-align: right; font-size: 0.8em; line-height: 100%; }
body#front #header form { top: 25px; }
body.with-cu-identity #header form { top: 80px; }
body#front.with-cu-identity #header form { top: 92px; }
#header form input, #header form select { margin: 0pt; padding: 0pt; }
#header form .search-for { font-size: 84%; text-align: left; float: left; }
#header .login { padding-bottom: 0.5em; font-size: 84%; }
#header .login a { text-decoration: underline; }
#header form .links { padding-bottom: 0.4em; font-size: 84%; }
#header form .links a { text-decoration: underline; }
#footer { background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); margin: 1em 0pt 0pt; padding: 0.7em; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); font-size: 80%; clear: both; }
#footer a, #footer a:visited { text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer address { margin: 5px; font-style: normal; }
#footer p, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 { margin: 5px; }
.accesskey { font-weight: bold; }
.accesskey-info { font-size: 80%; }
#content { margin: 0.7em; font-size: 90%; }
p.tagline { margin: 0pt; padding: 0pt 0pt 0.3em; }
.editbar { background-color: rgb(128, 128, 255); color: white; font-family: monospace; font-weight: bold; line-height: 0.8; text-decoration: none; }
.errmsg { color: rgb(255, 0, 0); font-style: italic; }
#form-interface { background-color: rgb(240, 238, 228); color: rgb(0, 0, 0); font-size: 120%; padding: 0.2em; }
#abs { margin: -0.7em; }
#abs .leftcolumn { margin: 0pt 16.35em 0pt 0pt; padding: 0px; }
#abs .subheader { background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); padding: 0.25em 0pt; border-bottom: 1px solid rgb(204, 204, 204); }
#abs .subheader h1 { margin: 0pt; font-size: 1.1em; padding: 0pt 0pt 0.2em 20px; font-weight: bold; font-style: normal; }
#abs .descriptor { display: none; }
#abs h1.title { margin: 0.5em 0pt 0.5em 20px; font-size: x-large; font-weight: bold; line-height: 120%; }
#abs .authors { margin: 0.5em 0pt 0.5em 20px; font-size: medium; line-height: 150%; }
#abs .authors a { font-size: medium; }
div#long-author-list { margin: 0pt; display: none; }
#abs .dateline { margin: 0.5em 0pt 0.5em 20px; font-style: italic; font-size: small; }
#abs blockquote.abstract { line-height: 140%; margin-bottom: 1.5em; }
#abs .comments {  }
#abs .metatable { font-size: 90%; margin: 0pt 0pt 1.5em 20px; }
#abs .tablecell { padding: 0.1em 0.5em 0em 0em; vertical-align: top; }
#abs .tablecell .label { text-align: left; }
#abs .jref .descriptor, #abs .comments .descriptor, #abs .subjects .descriptor, #abs .acm-classes .descriptor, #abs .msc-classes .descriptor { display: inline; }
#abs .subjects {  }
#abs .acm-classes, #abs .msc-classes { vertical-align: bottom; font-family: courier; font-size: 100%; }
#abs .arxivid { font-weight: bold; }
#abs .jref {  }
#abs .submission-history { margin: 1.5em 0pt 1.5em 20px; font-size: 90%; line-height: 1.5em; }
#abs .submission-history h2 { font-size: 120%; margin: 0pt 0pt 0.25em; font-weight: bold; }
#abs .submission-history pre { font-family: 'Lucida Grande',helvetica,arial,verdana,sans-serif; margin: 0pt; line-height: 1.4em; padding: 0pt; }
#abs .endorsers { margin: 1em 0pt 1.5em 20px; font-size: small; font-style: italic; }
.extra-services { width: 16em; float: right; border-left: 0.35em solid rgb(221, 221, 221); border-bottom: 0.35em solid rgb(221, 221, 221); margin-left: 20px; }
.extra-services h3 { font-size: medium; font-weight: normal; margin: 0.3em 0pt; }
.full-text { margin: 0pt; padding: 0.5em 1em; font-size: 110%; font-weight: normal; border-bottom: medium solid rgb(221, 221, 221); }
.full-text h2 { font-size: 140%; font-weight: bold; margin: 0.1em 0pt 0pt; }
.full-text .preferred { font-weight: bold; }
.full-text ul { margin: 0.3em 0pt 0pt 1em; padding: 0pt; }
.ancillary { margin: 0pt; padding: 0em 0em 0.5em 1em; font-size: 90%; font-weight: normal; border-bottom: medium solid rgb(221, 221, 221); }
.ancillary h2 { font-size: 120%; font-weight: bold; margin: 0.15em 0pt 0pt; }
.ancillary ul { margin: 0pt 0pt 0pt 1em; padding: 0pt; }
.ancillary .no-bullet li { list-style-type: none; }
div#long-anc-list { margin: 0pt; display: none; }
.extra-general { margin: 0pt; padding: 0pt 1em; font-size: 90%; border-bottom: medium solid rgb(221, 221, 221); }
.extra-ref-cite { margin: 0pt; padding: 0pt 1em; font-size: 90%; border-bottom: medium solid rgb(221, 221, 221); }
.extra-ref-cite ul { font-weight: normal; margin: 0.3em 0pt 0pt 20px; padding-left: 0pt; padding-bottom: 0.3em; }
.browse { padding: 0pt 1em; font-size: 90%; border-bottom: medium solid rgb(221, 221, 221); }
.browse .current { padding: 0pt; font-weight: bold; }
.browse .prevnext { padding: 0.2em 0pt 0pt; font-weight: bold; }
.browse .prevnext .nolink { font-weight: bold; color: rgb(102, 102, 102); }
.browse .list { padding: 0.2em 0pt 0.5em; font-weight: normal; }
.browse .switch { font-weight: normal; padding: 0.2em 0em 0.7em; }
.browse .switch .subclass { padding-left: 1.5em; }
.dblp { padding: 0pt 1em; font-size: 90%; border-bottom: medium solid rgb(221, 221, 221); }
.dblp .list { font-weight: normal; margin: 0.3em 0pt 0pt 20px; padding-left: 0pt; padding-bottom: 0.3em; }
.bookmarks { margin: 0pt; padding: 0pt 1em 0.5em; font-size: 90%; }
.what-is-this { margin: 0.5em 0pt 0pt; font-size: xx-small; padding-bottom: 0.3em; }
.what-is-this h3 { display: inline; }
#dlpage .list-dateline { font-style: italic; }
#dlpage dd { padding-bottom: 1em; }
#dlpage .meta { line-height: 130%; }
#dlpage .list-identifier { font-weight: bold; }
#dlpage .descriptor { display: inline; }
#dlpage .list-authors .descriptor { display: none; }
#dlpage .list-title .descriptor { display: none; }
#dlpage .list-title { font-size: large; font-weight: bold; margin: 0.25em 0pt 0pt; line-height: 120%; }
#dlpage .list-authors { font-weight: normal; font-size: 110%; }
#dlpage .list-comments { font-weight: normal; font-size: 90%; }
#dlpage .list-journal-ref { font-weight: normal; font-size: 90%; }
#dlpage .list-subjects { font-size: 90%; }
