export MACOSX_DEPLOYMENT_TARGET=10.5
export SDK=/Developer/SDKs/MacOSX10.5.sdk
export LD='env MACOSX_DEPLOYMENT_TARGET=10.5 gcc'
export CFLAGS="-nostdinc -B$SDK/usr/include/gcc -B$SDK/usr/lib/gcc -isystem$SDK/usr/include -F$SDK/System/Library/Frameworks -mmacosx-version-min=10.5 -O2"
export CCFLAGS="-nostdinc -B$SDK/usr/include/gcc -B$SDK/usr/lib/gcc -isystem$SDK/usr/include -F$SDK/System/Library/Frameworks -mmacosx-version-min=10.5 -O2"
export CXXFLAGS="-B$SDK/usr/include/gcc -B$SDK/usr/lib/gcc -isystem$SDK/usr/include -F$SDK/System/Library/Frameworks -mmacosx-version-min=10.5 -O2"
export CMAKE_CXX_FLAGS="-B$SDK/usr/include/gcc -B$SDK/usr/lib/gcc -isystem$SDK/usr/include -F$SDK/System/Library/Frameworks -mmacosx-version-min=10.5 -O2"
export LDFLAGS="-Wl,-syslibroot,$SDK"
export LD="env MACOSX_DEPLOYMENT_TARGET=10.5 cc"

