.pp-pdf-bitmap {
    border-color:black;
    border-width: 2px;
}

.pdf-container {
}

.pdf-page {
    display:inline-block;
}

.pdf-page-img {
    border: 1px solid black;
}


.pp-pdf-selector {
    background-color:#6495ED;
    border-width: 2px;
    position: absolute;
    opacity:0.3;
}

.pdf-block {

}

.pdf-search-result {
  background:yellow;
  border:1px solid red;
  padding:1px;
  position:absolute;
}