.pp-label-control *,
.pp-label-box,
.pp-label-tree-node a span,
.pp-label-grid,
.pp-label-grid-inline,
.pp-feed-chooser,
.pp-label-tree-node a span,
.pp-label-panel-item,
.x-menu-item-shortcut,
.pp-job-table-div
{
  font-size: 9px;
}

.pp-smallprint,
ul.pp-folders,
.pp-label-style-sample,
div:hover.pp-label-style-sample,
.pp-label-panel-filter,
.pp-job-status,
.pp-meta-form a.pp-textlink,
.pp-dd-action p
{
  font-size: 10px;
}

#pp-cloud-checkbox p,
.pp-progress-box-status
.pp-label-style-tab,
.pp-meta-entry td,
.pp-header-button, pp-header-button:visited,
.x-form-invalid-msg, .x-small-editor .x-form-field,
.x-btn, .x-btn button,
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label,
.x-grid3-hd-row td, .x-grid3-row td, .x-grid3-summary-row td,
.x-grid3-topbar, .x-grid3-bottombar, .x-grid3-group-hd div.x-grid-group-title,
.x-grid-empty,
.x-dd-drag-ghost,
.x-tree-node,
.x-tip .x-tip-mc, .x-tip .x-tip-header-text, .x-tip .x-tip-body,
.x-menu-list-item,
.x-combo-list-hd,
.x-combo-list-small,
.x-panel-header,
.x-panel-tl .x-panel-header, .x-panel-mc,
.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label,
.x-window-tl .x-window-header,
.x-window-mc,
.x-progress-text,
.x-list-header-inner div em, .x-list-body dt em
{
  font-size: 11px;
}

.pp-hint-box p, .pp-hint-box ul, .pp-hin-box ol,
.pp-basic,
.pp-box p, .pp-box ul, .pp-box ol, .pp-box h2,
.pp-box-tabs li,
.pp-hint-box li,
.pp-box-error,
.pp-dashboard-box td,
.pp-box dl, .pp-label-widget,
.pp-pattern-help dt,
.pp-control-container td,
.pp-top-button,
.pp-top-button-link, a:visited.pp-top-button-link,
.pp-action,
.pp-action-inactive,
.pp-notes,
.pp-grid-title, .pp-grid-authors,
.pp-box-settings h3,
.pp-box-settings h4,
.pp-settings-table,
.pp-settings-example,
.pp-settings-example code,
.pp-pluginlist-widget .label,
.pp-meta-form caption,
.pp-meta-form .pp-lookup-status,
.pp-queue-table,
.pp-queue-eta,
.pp-dd-action h2,
.pp-dashboard-box a, .pp-dashboard-box span,
.loading-indicator,
.x-form-field, .x-form-grow-sizer, .x-form-item,
.ext-webkit .x-small-editor .x-form-field,
.x-combo-list,
.x-window-dlg .x-window-header-text,
.x-window-dlg .ext-mb-textarea
 {
  font-size: 12px;
}

.pp-patterns input[type="text"],
.pp-box-welcome p, .pp-box-welcome li
{
  font-size: 13px;
}

.pp-action-big,
.pp-meta-form > tbody > tr > td,
.x-box-mc,
.x-box-mc h3
{
  font-size: 14px;
}

#drop_target
{
  font-size: 16px;
}

.file,
.pp-box h2
{
  font-size: 18px;
}

.pp-hint-box h1
{
  font-size: 24px;
}

td.pp-stats-number
{
  font-size: 32px;
}

.pp-patterns input[type="text"]
{
  line-height: 16px;
}

/*
 * LINE HEIGHTS AND HEIGHTS.
 */

.pp-patterns input[type="text"]
{
  line-height: 16px;
}

.x-form-text, .ext-ie .x-form-file,
.ext-ie6 .x-form-text, .ext-ie7 .x-form-text
 {
  height:22px;
  line-height:18px;
}

.ext-strict .x-form-text {
  height:14px;
}

/* select boxes */
.x-form-select-one {
  height: 20px;
  line-height: 18px;
}

.x-editor .x-form-checkbox {
  height: 13px;
}

.x-form-field-wrap .x-form-trigger{
  width:17px;
  height:21px;
}

.x-small-editor .x-form-text,
.ext-ie6 .x-small-editor .x-form-text, .ext-ie7 .x-small-editor .x-form-text
{
  height:20px;
  line-height:16px;
}

.ext-strict .x-small-editor .x-form-text {
  height:16px !important;
}

.x-tbar-page-number {
  width:30px;
  height:14px;
}

.x-toolbar-more .x-btn-small .x-btn-text{
  height: 16px;
  width: 12px;
}

.ext-ie .x-toolbar-cell .x-form-field-wrap {
  height:21px;
}

.x-grid3-row td, .x-grid3-summary-row td {
  line-height:13px;
}

.x-grid3-hd-row td {
  line-height:15px;
}

.x-grid3-header-pop-inner {
  width:14px;
  height:19px;
}

.ext-ie .x-grid3-header-pop-inner {
  width:15px;
}

.ext-strict .x-grid3-header-pop-inner {
  width:14px;
}

.x-tree-node-el {
  line-height:18px;
}

.x-tip .x-tip-body {
  line-height:14px;
}

.x-menu-item-icon {
  height: 12px;
}

.x-panel-header {
    line-height: 15px;
}

.x-progress-inner {
    height:18px;
}

.x-progress-bar {
    height:18px;
}

.ext-ie .x-progress-text-back {
    line-height:15px;
}

.x-list-header{
    height:22px;
}

.x-list-header-inner div em {
    line-height:14px;
}

.pp-main-toolbar,
div.pp-grid-sort-container,
.pp-label-control * {
    height: 18px;
}

.pp-label-control .x-form-trigger {
    height: 21px;
}

.pp-label-grid {
    line-height:14px;
    height:12px;
}

.pp-label-node input.x-tree-node-cb, .pp-folder-node input.x-tree-node-cb {
    height: 12px;
}

.pp-label-panel-filter {
    line-height: 12px;
    height: 16px;
}

.pp-label-grid-inline,
.pp-label-panel-item {
    line-height: 12px;
}

.x-progress-text-back,
a.x-menu-item,
.x-form-invalid-msg,
.x-toolbar div.xtb-text,
.x-toolbar .xtb-sep
{
  line-height:16px;
}

