body {
  cursor: default;
}

.nosel {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: ignore;
}

.pp-hoverbuttons {
    float: left;
    padding: 2px 2px 2px 4px;
    background-color:#FFFEEB;
}

.pp-action {
    cursor: pointer;
}

.pp-grid-item {
  line-height: 13px;
  vertical-align: top;
  padding: 0 1px;
  font: normal 11px/13px arial, tahoma, helvetica, sans-serif;
  background-color: white;
  border-color: #ededed;
  border-style: solid;
  border-width: 1px 0;
  border-top-color: #fff;
}

.pp-grid-status {
    width:16px;
    height:16px;
    margin: 3px;
    float: left;
}

.pp-grid-list {
  line-height: 1.5em;
  width: 100%;
  padding-right: 50px;
}


.pp-grid-list .pp-grid-icons {
  float: left;
  width: 50px;
  min-height: 10px;
  line-height: 1.5em;
}

.pp-grid-list .pp-grid-labels {
  display: inline;
}

.pp-grid-list .pp-grid-title {
  font-weight: bold;
}

.pp-grid-list-rightside {
  margin-left: 50px;
}

.pp-grid-list.pub {
}
.pp-grid-list.folder {
}

.pp-grid-gallery {
  float: left;
  width: 160px;
  height: 80px;
  border: 2px solid #888;
  background: #F8F8FF;
  margin: .3em;
  padding: .5em;
  line-height: 1.5em;
}

.pp-grid-gallery .pp-grid-icons {
  float: left;
  height: 22px;
}

.pp-grid-gallery .pp-grid-labels {
  float: right;
  max-width: 120px;
  height: 22px;
  margin-top: .1em;
}

.pp-ellipsis, 
.pp-grid-gallery .pp-grid-title,
.pp-grid-gallery .pp-grid-authors,
.pp-grid-gallery .pp-grid-labels,
.pp-grid-gallery .pp-grid-journal {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pp-grid-gallery .pp-grid-title {
  clear: both;
}

.pp-grid-gallery .pp-grid-journal {
  float: left;
  font-style: italic;
  color: #555;
  width: 110px;
}

.pp-grid-gallery .pp-grid-year {
  float: right;
  width: 30px;
  color: #555;
}

.pp-grid-gallery.pub {

}

.pp-grid-gallery.folder {

}

.pp-grid-over {
  border-color: #dddddd;
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background-image: -moz-linear-gradient(top, #ffffff, #efefef);
  background-image: linear-gradient(top, #ffffff, #efefef);
}

.pp-grid-selected {
  border-color: #a3bae9;
  background-color: #dfe8f6;
  background-image: none;
}

.pp-grid-title, .pp-grid-authors{
    font-size:12px;
    white-space: normal;
}

pp-grid-title {
    font-weight: bold;
}

.pp-grid-status-pdf {
    background: transparent url('/images/icons/page_white_acrobat.png') no-repeat;
}

.pp-grid-status-attachments {
    background: transparent url('/images/icons/attachment.png') no-repeat;
}

.pp-grid-status-folder {
    background: transparent url('/images/icons/folder.png') no-repeat;
}

.pp-grid-status-notes {
    background: transparent url('/images/icons/note.png') no-repeat;
}

.pp-grid-status-imported {
    background: transparent url('/images/icons/page.png') no-repeat;
}

.pp-grid-label {
    /*-webkit-border-radius: 3px;*/
    border-width:1px;
    font-size: 9px;
    line-height:12px;
    padding: 0 4px;
    text-align:center;
    opacity:0.7;
    display:inline-block;
    white-space:normal;
    font-weight: bold;
}

.pp-label-style-default,  .pp-label-tree-style-default  a span { border-color:#BDBDBD; border-style:solid; background-color: #EDEDED; color: #686868 !important; }
.pp-label-style-0,  .pp-label-tree-style-0  a span { border-color:#BDBDBD; border-style:solid; background-color: #EDEDED; color: #686868 !important; }
.pp-label-style-1,  .pp-label-tree-style-1  a span { border-color: rgb(124, 136, 155); border-style:solid; background-color: rgb(224, 236, 255); color: rgb(32, 108, 255) !important; }   
.pp-label-style-2,  .pp-label-tree-style-2  a span { border-color: rgb(123, 126, 155);  border-style:solid; background-color: rgb(223, 226, 255); color: rgb(0, 0, 204) !important;    }   
.pp-label-style-3,  .pp-label-tree-style-3  a span { border-color: rgb(124, 113, 149); border-style:solid; background-color: rgb(224, 213, 249); color: rgb(82, 41, 163) !important;  }   
.pp-label-style-4,  .pp-label-tree-style-4  a span { border-color: rgb(153, 133, 144); border-style:solid; background-color: rgb(253, 233, 244); color: rgb(133, 79, 97) !important;  }   
.pp-label-style-5,  .pp-label-tree-style-5  a span { border-color: rgb(155, 127, 127); border-style:solid; background-color: rgb(255, 227, 227); color: rgb(204, 0, 0) !important;    }  
.pp-label-style-6,  .pp-label-tree-style-6  a span { border-color: rgb(70, 105, 134);  border-style:solid; background-color: rgb(90, 105, 134);  color: rgb(222, 229, 242) !important; }  
.pp-label-style-1-reverse, .pp-label-style-7,  .pp-label-tree-style-7  a span { border-color: rgb(32, 108, 255);  border-style:solid; background-color: rgb(32, 108, 255);  color: rgb(224, 236, 255) !important; }  
.pp-label-style-8,  .pp-label-tree-style-8  a span { border-color: rgb(0, 0, 204);     border-style:solid; background-color: rgb(0, 0, 204);     color: rgb(223, 226, 255) !important;    }  
.pp-label-style-9, .pp-label-tree-style-9 a span   { border-color: rgb(82, 41, 163);   border-style:solid; background-color: rgb(82, 41, 163);   color: rgb(224, 213, 249) !important;  }   
.pp-label-style-10, .pp-label-tree-style-10 a span { border-color: rgb(133, 79, 97);   border-style:solid; background-color: rgb(133, 79, 97);   color: rgb(253, 233, 244) !important;  }   
.pp-label-style-11, .pp-label-tree-style-11 a span { border-color: rgb(204, 0, 0);     border-style:solid; background-color: rgb(204, 0, 0);     color: rgb(255, 227, 227) !important;    }   
.pp-label-style-12, .pp-label-tree-style-12 a span { border-color: rgb(255, 240, 225); border-style:solid; background-color: rgb(255, 240, 225); color: rgb(236, 112, 0) !important;  }   
.pp-label-style-13, .pp-label-tree-style-13 a span { border-color: rgb(250, 220, 179); border-style:solid; background-color: rgb(250, 220, 179); color: rgb(179, 109, 0) !important;  }   
.pp-label-style-14, .pp-label-tree-style-14 a span { border-color: rgb(243, 231, 179); border-style:solid; background-color: rgb(243, 231, 179); color: rgb(171, 139, 0) !important;  }   
.pp-label-style-15, .pp-label-tree-style-15 a span { border-color: rgb(255, 255, 212); border-style:solid; background-color: rgb(255, 255, 212); color: rgb(99, 99, 48) !important;   }   
.pp-label-style-16, .pp-label-tree-style-16 a span { border-color: rgb(249, 255, 239); border-style:solid; background-color: rgb(249, 255, 239); color: rgb(100, 153, 44) !important; }   
.pp-label-style-17, .pp-label-tree-style-17 a span { border-color: rgb(241, 245, 236); border-style:solid; background-color: rgb(241, 245, 236); color: rgb(0, 102, 51) !important;   }   
.pp-label-style-18, .pp-label-tree-style-18 a span { border-color: rgb(236, 112, 0);   border-style:solid; background-color: rgb(236, 112, 0);   color: rgb(255, 240, 225) !important;  }   
.pp-label-style-19, .pp-label-tree-style-19 a span { border-color: rgb(179, 109, 0);   border-style:solid; background-color: rgb(179, 109, 0);   color: rgb(250, 220, 179) !important;  }   
.pp-label-style-20, .pp-label-tree-style-20 a span { border-color: rgb(171, 139, 0);   border-style:solid; background-color: rgb(171, 139, 0);   color: rgb(243, 231, 179) !important;  }   
.pp-label-style-21, .pp-label-tree-style-21 a span { border-color: rgb(99, 99, 48);    border-style:solid; background-color: rgb(99, 99, 48);    color: rgb(255, 255, 212) !important;   }   
.pp-label-style-22, .pp-label-tree-style-22 a span { border-color: rgb(100, 153, 44);  border-style:solid; background-color: rgb(100, 153, 44);  color: rgb(249, 255, 239) !important; }   
.pp-label-style-23 .pp-label-tree-style-23 a span { border-color: rgb(0, 102, 51);    border-style:solid; background-color: rgb(0, 102, 51);    color: rgb(241, 245, 236) !important;   }   
.pp-label-style-24,  .pp-label-tree-style-24  a span { border-color:#BDBDBD; border-style:solid; background-color: rgb(222, 229, 242); color: rgb(90, 105, 134) !important; } 


.pp-label-add-link{
    float:left;
}

.pp-label-box {
    border-style:solid;
    border-width: 1px;
    font-size: 9px;
    font-weight:bold;
    margin: 0px 0.8em 0px 1px;
    overflow:visible;
    display:block;
    float:left;
    margin: 0px 6px 6px 0px;
}

.pp-label-name {
    overflow:hidden;
    display:inline;
    padding: 0 2px;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    cursor: default;
}

.pp-label-cloud {
    display:inline-block;
    padding: 2px;
    border-width: 1px 0px;
    margin: 0px 6px 6px 0px;
    vertical-align:middle;
    border-width:1px;
    padding: 0px 4px;
    -moz-border-radius: 3px;
    /*-webkit-border-radius:3px;*/
    text-decoration:none;
}

.pp-label-remove{
    border-width:0px 0px 0px 1px;
    display:inline;
    padding: 0px 2px 0px 2px;
    margin: 0px;
    cursor: default;
}

div:hover.pp-label-remove{
    border-width:1px;
    display:inline;
    padding: 0px 2px 0px 2px;
    margin: 0px;
    margin-right: -1px;
    outline: black solid 1px;
    cursor: pointer;
    color:white;
}


/*
.pp-grid-data{
    line-height: 1.5em;
    float: left;
    width: 100%;
    max-width: 600px;
}


.pp-grid-citation{}

.pp-grid-snippets{
    color: #585858;
    padding-left:10px;
    padding-top:5px;
}

.pp-grid-snippets .highlight{
    background-color: #FFF6A9;
}

.pp-grid-snippets .heading{
    color: green;
}

.pp-grid-task{
    background-color: #FFF6A9;
}

.pp-grid-dup-ok {
    border-color:#ddd;
    background-color:#ddffdd;
    background-image:url(../images/default/grid/row-over.gif);
}

.pp-grid-highlight1{
    border-color:#ddd;
    background-color:#F5D9D9;
    background-image:url(../images/default/grid/row-over.gif);
}

.pp-grid-highlight2{
    border-color:#ddd;
    background-color:#F2FFD9;
    background-image:url(../images/default/grid/row-over.gif);
}

.pp-grid-error{
    color: #D8000C;   
    font-weight: bold;
}

.pp-grid-ok{
    color: #088A08;
    font-weight: bold;
}
*/

/* Displays a small gray keyboard shortcut, always positioned to
the right of the menu. */
.x-menu-item-shortcut {
    font-size:9px;
    color:gray;
    text-align:right;
    top: 3px;
    right:3px;
    float:right;
    margin-left:5px;
    margin-right:5px;
    width:26px;
}

.pp-authortip {
    text-decoration:none;
    display:inline;
    color: #BDBDBD;
    cursor:default;
    font-style: normal;
    font-weight:normal;
}
.pp-authortip:hover {
    color: black;
}

/* Label panel custom scrollbar styling. */
.pp-collection-panel-vp::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.pp-collection-panel-vp::-webkit-scrollbar-button:start:decrement,
.pp-collection-panel-vp::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: transparent;
}
.pp-collection-panel-vp::-webkit-scrollbar-track-piece {
    background-color: #D8D8D8 ;
    -webkit-border-radius: 0px;
}
.pp-collection-panel-vp::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: #C0C0C0;
    -webkit-border-radius: 0px;
}
.pp-collection-panel-vp::-webkit-scrollbar-thumb:horizontal {
    width: 20px;
    background-color: #C0C0C0;
    -webkit-border-radius: 0px;
}

.pp-collection-item {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
}

.pp-collection-item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pp-collection-item-count {
    float: right;
    color: gray;
}

.pp-collection-item input {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
}

.pp-collection-panel-filter {
    background: url('/images/goog-mag.png') no-repeat;
    background-position: right center;
    vertical-align:middle;
}

.pp-collection-panel-check {
    display:inline-block;
    height: 12px;
    width: 12px;
    margin: 0px;
    padding: 0px;
    vertical-align:middle;
}


/* common settings checkbox and radiobutton */

input[type="checkbox"] {
  cursor:pointer;
}

input[type="checkbox"],
input[type="radio"]
{
 -khtml-appearance: none;
 background: url('/images/goog-ticks.png') no-repeat;
 width: 12px;
 height: 12px;
 vertical-align: middle;
}
input[type="checkbox"]
{
 background-position-x: -48px;
 background-position-y: 0;
}
input[type="radio"]
{
 background-position-x: -48px;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover
{
 background-position-x: -48px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked
{
 background-position-x: -60px;
}
input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover
{
 background-position-x: -60px;
}
/* disabled settings for checkbox and radiobutton */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled
{
 opacity: .6;
}


.pp-status {
    margin: 0px 8px;
    font-size:11;
    background-color:#FFF1A8;
}

.pp-progress-box-status {
    margin: 0px 8px;
    font-size:11;
}

.pp-status-msg {
    font-weight: bold;
    padding: 0px 5px;
}

.pp-status-action {
    font-weight: bold;
    padding: 0px 5px;
}

.pp-status-info {
    background-color:#FFF1A8;
}

.pp-status-error {
    background-color: #FFBABA;
}

.pp-status-error .pp-status-msg{
    color: #D8000C;
}
