.pp-box {
    margin: 8px;
    border-style:solid;
    border-width: 1px;
    padding: 8px;
    font-size: 12px;
    font-family: arial, verdana, tahoma, helvetica, sans-serif;
    line-height: 1.3em;
}

.pp-box h2 {
    font-size: 14px;
    color: #4183C4;
    margin-bottom: .5em;
}

.pp-box dl {

}

.pp-box dt {
    float: left;
    clear: left;
    color: #4183C4;
    width: 60px; 
    text-align: right; 
}

.pp-box dd { 
    display:block;
    margin: 0px 0px 0px 5px; 
    padding: 0px 0px 5px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.BasicInfo {

}

.pp-box-style1{
    background-color:#FFFEEB;
    border-color: #F7CA75;
}

.pp-box-style2{
    background-color:#F0F0F0;
    border-color: #D8D8D8;
}

.pp-button {
    display: inline-block;
    -webkit-user-select: none;
    margin-bottom: 2px;
    padding: 3px 6px 3px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
    border: 1px solid #BBB;
}

.pp-button:hover {
    padding-left: 5px;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

.pp-button:active, .pp-button-down {
    background: -webkit-gradient(linear,0% 40%,0% 70%,to(#F9F9F9),from(#E3E3E3));
}

.pp-button img {
    vertical-align: middle;
    margin-right: .5em;
}

.pp-textlink, .pp-minilink {
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    color: #0015FE;
    padding: 2px;
}
.pp-textlink:hover, .pp-minilink:hover {
    cursor:pointer;
    color: #0015FE;
    text-decoration: underline;
}

.pp-textlink {
    font-size: 12px;
}
.pp-textlink img {
    vertical-align: middle;
    margin-right: .5em;
}

.pp-minilink {
    font-size: 10px;
}
.pp-minilink img {
    vertical-align: middle;
    margin-right: .5em;
    width: 14px;
}

.pp-folderlink {
    display: block;
}

.pp-iconbutton {
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}
.pp-iconbutton:hover {
    border: 1px solid #BBB;    
    padding: 1px;
}
.pp-iconbutton:active {
    border: 1px solid #333;
    padding: 1px;
}

.pp-pubpanel:hover .pp-iconbutton,
.pp-pubpanel:hover .pp-textlink,
.pp-pubpanel:hover .pp-minilink {
    opacity: 1;
}


.pp-file-generic{
    background-image: url(/ext/resources/images/default/tree/leaf.gif);
    background-repeat: no-repeat;
}

.pp-folder-generic {
    background-image: url('/images/icons/folder.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}
