.add .x-btn-text {
    background-image: url('/images/icons/add.png');
}

.delete .x-btn-text {
    background-image: url('/images/icons/delete.png');
}

.edit .x-btn-text {
    background-image: url('/images/icons/pencil.png');
}

.cancel .x-btn-text {
    background-image: url('/images/icons/cancel.png');
}

.save .x-btn-text {
    background-image: url('/images/icons/accept.png');
}

.ok .x-btn-text {
    background-image: url('/images/icons/accept.png');
}

.next .x-btn-text {
    background-image: url('/images/icons/arrow_right.png');
}

.prev .x-btn-text {
    background-image: url('/images/icons/arrow_left.png');
}

.pp-basic {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}

.pp-summary-abstract {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    width: 75%;
    line-height: 1.25em;
    /*text-align: justify;*/
    float:right;
    padding: 5px 5px 5px 5px;
 }

.pp-summary-form {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    width: 22%;
    float:left;
    padding: 5px 0px 0px 0px;
    /*background-color: #FFFEEB;
    border: 1px solid #F7CA75; */
}

.pp-action-add-notes a{
    font:normal 14px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding-left: 64px;
    height: 64px;
    line-height:64px;
    background: transparent url('/images/icons/postit.png') no-repeat;
    color:black;
    display:block;
    text-decoration:none;
}

.pp-action-edit-notes a{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom:20px;
    height: 16px;
    line-height:16px;
    background: transparent url('/images/icons/pencil.png') no-repeat;
    color:black;
    display:block;
    text-decoration:none;
    float: right;
}


.pp-action-add-notes a:hover{
    background-color:#EEEEEE;
}

.pp-action-edit-notes a:hover{
    background-color:#EEEEEE;
}

.pp-notes {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}

.pp-notes ul {
    list-style-type:disc;
    list-style-position: inside;
}

.pp-notes ol {
    list-style-type:decimal;
    list-style-position: inside;
}

.pp-notes li { display: list-item }


.pp-grid-title,.pp-grid-authors{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    line-height: 1.5em;
    white-space: normal;
}

.pp-grid-title{
    font-weight: bold;
}

.pp-grid-citation{
    line-height: 1.5em;
}

.pp-grid-snippets{
    line-height: 1.5em;
}

.pp-grid-snippets .highlight{
    line-height: 1.5em;
    background-color: #FFF6A9;
}

.pp-grid-status{
    line-height: 1.5em;
    width: 120;
    float: left;
}

.pp-grid-data{
    line-height: 1.5em;
    float: left;
    width: 550;
}

.pp-grid-icons{
}

.pp-grid-key{
    color: gray;
    width: 120;
}

.pp-status-imported {
    background: transparent url('/images/icons/down.png') no-repeat;
    width:40px;
    height:40px;
}

.pp-status-pdf {
    background: transparent url('/images/icons/pdf_white.png') no-repeat;
    width:24px;
    height:24px;
    margin: 3px;
    float: left;
}

.pp-status-attachments {
    background: transparent url('/images/icons/attachment.png') no-repeat;
    width:24px;
    height:24px;
    margin: 3px;
    float: left;
}

.pp-status-notes {
    background: transparent url('/images/icons/notes.png') no-repeat;
    width:24px;
    height:24px;
    margin: 3px;
    float: left;
}

.pp-tree-heading{
    background:#eee url(/images/cmp-bg.gif) repeat-x;
    font-weight: bold;
    margin-top:2px;
    margin-bottom:4px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}

.pp-icon-empty{
     display: none;
}

.pp-icon-page {
    background-image: url('/images/icons/page_white_stack.png') !important;
}

.pp-icon-tags{
  background-image: url('/images/icons/tag_orange.png')!important;
}

.pp-icon-tag{
  background-image: url('/images/icons/tag_blue.png')!important;
}

.pp-icon-folder{
  background-image: url('/images/icons/folder.png')!important;
}

.pp-icon-pubmed{
  background-image: url('/images/icons/pubmed.png')!important;
}

.pp-icon-google{
  background-image: url('/images/icons/google.png')!important;
}

.pp-icon-tools{
  background-image: url('/images/icons/wrench.png')!important;
}


.pp-basic {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}

.pp-pdf-manager li{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding:10px;
}

.pp-pdf-manager a{
    padding:10px;
}

.pp-attachments li{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding: 0 0 0 40;
}

.pp-pdf-bitmap {
    border-color:black;
    border-width: 2px;
}

.pp-pdf-container {
    /*border-color:black;
    border: 2px;
    border-style: solid;
    */
}

.pp-pdf-selector {
    background-color:#6495ED;
    border-width: 2px;
    position: absolute;
    opacity:0.3;
}

.pp-ok-text {
    color: blue !important;
}

.pp-filechooser-dir {
    float:left;
    color: blue !important;
}

.pp-filechooser-separator {
    float:left;
    margin: 0 5 0 5;
}

.pp-settings h2 {
    margin: 5px 5px 10px 5px;
}

.pp-textfield-with-button {
    float: left;
}

.pp-item-widget {
    margin: 5px;
}

.pp-item {
    margin: 2px;
    float: left;
}

.pp-item-widget-textfield {
    float: left;
}