.add .x-btn-text {
    background-image: url('/images/icons/add.png');
}

.delete .x-btn-text {
    background-image: url('/images/icons/delete.png');
}

.edit .x-btn-text {
    background-image: url('/images/icons/pencil.png');
}

.cancel .x-btn-text {
    background-image: url('/images/icons/cancel.png');
}

.save .x-btn-text {
    background-image: url('/images/icons/accept.png');
}

.pp-basic {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}

.pp-status-imported {
    background: transparent url('/images/icons/down.png') no-repeat;
    width:40px;
    height:40px;
}
.pp-status-pdf {
    background: transparent url('/images/icons/pdf.png') no-repeat;
    width:40px;
    height:40px;
}

.pp-summary-abstract {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    width: 75%;
    line-height: 1.25em;
    /*text-align: justify;*/
    float:right;
    padding: 5px 5px 5px 5px;
 }

.pp-summary-form {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    width: 22%;
    float:left;
    padding: 5px 0px 0px 0px;
}

.pp-action-add-notes a{
    font:normal 14px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding-left: 64px;
    height: 64px;
    line-height:64px;
    background: transparent url('/images/icons/postit.png') no-repeat;
    color:black;
    display:block;
    text-decoration:none;
}

.pp-action-edit-notes a{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    height: 16px;
    line-height:16px;
    background: transparent url('/images/icons/pencil.png') no-repeat;
    color:black;
    display:block;
    text-decoration:none;
    float:right;
}


.pp-action-add-notes a:hover{
    background-color:#EEEEEE;
}

.pp-action-edit-notes a:hover{
    background-color:#EEEEEE;
}

.pp-notes {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    float:left;
}

.pp-notes ul {
    list-style-type:disc;
    list-style-position: inside;
}

.pp-notes ol {
    list-style-type:decimal;
    list-style-position: inside;
}

.pp-notes li { display: list-item }



.pp-grid-title,.pp-grid-authors{
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
    line-height: 1.5em;
}

.pp-grid-title{
    font-weight: bold;
}

.pp-grid-citation{
    line-height: 1.5em;
}


.pp-tree-heading{
    background:#eee url(/images/cmp-bg.gif) repeat-x;
    font-weight: bold;
    margin-top:2px;
    margin-bottom:4px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}

.pp-icon-empty{
     display: none;
}

.pp-icon-page {
    background-image: url('/images/icons/page_white_stack.png') !important;
}

.pp-icon-tags{
  background-image: url('/images/icons/tag_orange.png')!important;
}

.pp-icon-tag{
  background-image: url('/images/icons/tag_blue.png')!important;
}

.pp-icon-folder{
  background-image: url('/images/icons/folder.png')!important;
}

.pp-icon-pubmed{
  background-image: url('/images/icons/pubmed.png')!important;
}

.pp-icon-google{
  background-image: url('/images/icons/google.png')!important;
}

.pp-icon-tools{
  background-image: url('/images/icons/wrench.png')!important;
}


.pp-basic {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}


.pp-pdf-manager li{
    font:normal 18px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding:10px;
}

.pp-publisher-link a{
    font:normal 18px arial, verdana, tahoma, arial, helvetica, sans-serif;
    color:black;
    text-decoration:none;
    display:block;
}
.pp-publisher-link img{
    vertical-align:middle;
    padding-right: 10px;
}

.pp-action-download-pdf a{
    font:normal 18px arial, verdana, tahoma, arial, helvetica, sans-serif;
    padding-left: 58px;
    height: 48px;
    line-height:48px;
    background: transparent url('/images/icons/acroread.png') no-repeat;
    color:black;
    display:block;
    text-decoration:none;
}

.pp-action-download-pdf a:hover{
    background-color:#CAD8F3;
}

.pp-publisher-link a:hover{
    background-color:#CAD8F3;
}

.pp-pdf-bitmap {
    border-color:black;
    border-width: 2px;
}

.pp-pdf-container {
    /*border-color:black;
    border: 2px;
    border-style: solid;
    */
}

.pp-pdf-selector {
    background-color:#6495ED;
    border-width: 2px;
    position: absolute;
    opacity:0.3;
}






