/* These are used by viewer.js to remove the "icon space"
   from the zoom and layout menus. */
.no-icon-menu .x-menu-item {padding-left:0px;}
.no-icon-menu .x-menu-item-icon {display:none;}
.no-icon-menu .x-menu-list-item-indent {padding-left:0px;}

.pdf-search {
/*    background:#FF00FF;*/
}

.pdf-search .x-toolbar-cell {
    padding:2px;
}

.pdf-search .x-window-ml {
    padding-left:2px;
}
.pdf-search .x-window-mr {
    padding-right:2px;
}
.pdf-search .x-window-header {
    padding-top:2px;
    padding-bottom:2px;
}
.pdf-search .x-window-bc {
    height:2px;
}

.search-result-text {
    font-size:10px;
    padding-left:5px;
    padding-right:5px;
}

.pdf-block {

}

.pdf-page {
    display:inline-block;
}

.pdf-page-img {
    border: 1px solid black;
}

.pdf-cur-page {
    border: 1px solid blue;
}

.pdf-page-blinder {
#    border: 1px solid black;
    background: #ffffff;
}

.pdf-page-loading {
    background-image: url('/ext/resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.pdf-selector {
    background-color:#6495ED;
    border-width: 2px;
    position: absolute;
    opacity:0.3;
}

.pdf-search-result {
    background-color:#ffff66;
    border:1px solid red;
    margin-top:-1px;
    margin-left:-1px;
}

.pdf-cur-search-result {
    -moz-border-radius:3px;
    border:3px solid blue;
    margin-top:-3px;
    margin-left:-3px;
}

.pdf-search-busy {
    background-image: url('/ext/resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: 95% 50%
}