.add .x-btn-text {
    background-image: url('/icons/silk/add.png');
}

.tabs {
    background-image: url('/icons/silk/page_white.png') !important;
}

.delete .x-btn-text {
    background-image: url('/icons/silk/delete.png');
}

.edit .x-btn-text {
    background-image: url('/icons/silk/application_edit.png');
}

.pp-basic {
    font:normal 12px arial, verdana, tahoma, arial, helvetica, sans-serif;
}