<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>Paperpile beta for OS X</string>
	<key>CFBundleName</key>
	<string>Paperpile</string>
	<key>CFBundleExecutable</key>
	<string>paperpile</string>
	<key>CFBundleIconFile</key>
	<string>paperpile.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.paperpile.paperpile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
